.button{
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.root{
}

#combo{
                -fx-background-color:
                    rgba(0,0,0,0.08),
                    linear-gradient(#9a9a9a, #909090),
                    linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
                -fx-background-insets: 0 0 -1 0,0,1;
                -fx-background-radius: 5,5,4;
                -fx-padding: 3 5 3 5;
                -fx-text-fill: #242d35;
                -fx-font-size: 14px;
         }

 #status{
                 -fx-text-fill: #242d35;
                 -fx-font-size: 20px;
 }

.tab{    -fx-background-color:
             rgba(0,0,0,0.08),
             linear-gradient(#9a9a9a, #909090),
             linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
         -fx-background-insets: 0 0 -1 0,0,1;
         -fx-background-radius: 5 5 0 0;
         -fx-padding: 3 10 3 10;
         -fx-text-fill: #242d35;
         -fx-font-size: 14px;}

.tab:selected{
        -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
}

