.button{
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 0;
    -fx-border-width:0;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.root{
    -fx-font-family: Tahoma, Arial, Helvetica, sans-serif;
    -fx-background-color: #dedede;}
}

#combo{         -fx-background-insets: 0 0 -1 0,0,1;
                -fx-background-radius: 0;
                -fx-padding: 3 5 3 5;
                -fx-text-fill: #242d35;
                -fx-font-size: 14px;}
         }

 #status{
                 -fx-text-fill: #242d35;
                 -fx-font-size: 18px;
                 -fx-text-fill: #ffffff;}
 }

.tab{    -fx-background-insets: 0 0 -1 0,0,1;
         -fx-background-radius: 0;
         -fx-padding: 3 10 3 10;
         -fx-text-fill: #242d35;
         -fx-font-size: 14px;}

.tab_pane{
        -fx-background-color: #ffffff;
}



